
{{#partial "title"}}
    Home
{{/partial}}

{{#partial "content"}}

    <div class="text-center">
        <a href="squad"><button type="button" id="squads" name="squads" class="btn btn-primary btn-lg">SQUADS</button></a>
<!--        <button type="button" id="heroes" name="heroes" class="btn btn-secondary btn-lg">HEROES</button>-->
        <p>Hello guys!!</p>
    </div>

{{/partial}}

{{> layout.hbs}}