{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}modules.Warriors!{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
    <div>
        <img src="/images/logo.png" alt="logo image" title="Logo Image" width="20%" class="m-5 container">
        <h3 class="text-center text-danger">Heroes App</h3>
        <h4 class="text-center text-danger">Heroes never Die</h4>
    </div>
{{/block}}

<div class="container">
    {{#block "content"}}
    {{/block}}

</div>


{{#block "footer"}}

    </body>
    </html>
{{/block}}