
{{#partial "content"}}
    <h1 class="text-success text-center">Success!</h1>
    <p class="text-center">Your Hero  has been saved.</p>
    <div class="text-center">
        <a href="/">Check Details</a>
    </div>
{{/partial}}

{{> layout.hbs}}