
<!-- heroes page title -->
{{#partial "title"}}
    View heroes
{{/partial}}

<!-- heroes page content -->
{{#partial "content"}}

    <h3> Heroes: </h3>
    {{#if warriors}}
        <ul>
            {{#each warriors}}
                <li class="card col-lg-6">
                    <h3 class="card-title" id="hero">Name:{{hero}}</h3>
                    <a href="/heroes/{{id}}" class="btn btn-outline-warning">Details</a>
                    <a href="/squads/{{squadId}}" class="btn btn-outline-success">View squad</a>
                </li>
                <br><br>

            {{/each}}
        </ul>

    {{else}}
        <div class="card col-lg-8">
            <img src="/images/download.jpeg" class="card-img-top">
            <p class="card-text" id="squad" style="font-size: 22px">You have no heroes yet!!</p>
        </div>
        <br><br>
    {{/if}}

<a href="/heroes"><button type="button" class="btn btn-primary">Create hero</button></a>
<a href="/viewSquad"><button type="button" class="btn btn-primary">View Squads</button></a>

{{/partial}}

{{> layout.hbs}}