
<!-- view squads title -->
{{#partial "title"}}
    view squads
{{/partial}}

<!-- squads content -->
{{#partial "content"}}
    <p>modules.Squad Name: {{squadName}}</p>
    <p>Mission: {{cause}}</p>
    <p>Size: {{squadSize}}</p>
    <a href="/heroes"><button type="submit" class="btn"> Create Hero </button></a>
{{/partial}}

{{> layout.hbs}}